Repository satoshi256kbyte/goal-mandala, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goal-mandala-team, @frontend-team, @backend-team, @devops-team

.github/CODEOWNERS:

# Global owners
* @goal-mandala-team

# Frontend specific
/packages/frontend/ @frontend-team @goal-mandala-team

# Backend specific
/packages/backend/ @backend-team @goal-mandala-team

# Infrastructure specific
/packages/infrastructure/ @devops-team @goal-mandala-team

# Shared packages
/packages/shared/ @goal-mandala-team

# CI/CD workflows
/.github/ @devops-team @goal-mandala-team

# Documentation
/docs/ @goal-mandala-team
README.md @goal-mandala-team
CONTRIBUTING.md @goal-mandala-team

# Configuration files
package.json @goal-mandala-team
pnpm-workspace.yaml @goal-mandala-team
turbo.json @goal-mandala-team
.tool-versions @goal-mandala-team

# Docker and development environment
docker-compose.yml @devops-team @goal-mandala-team
Dockerfile* @devops-team @goal-mandala-team
.env.example @devops-team @goal-mandala-team

# Security and compliance
.github/workflows/ @devops-team @goal-mandala-team
.husky/ @goal-mandala-team

test(reflection): add property-based tests for reflection service
  .kiro/specs/4.1-reflection-feature/tasks.md
  packages/backend/src/services/__tests__/reflection.service.property.test.ts
Owners: @goal-mandala-team, @backend-team

feat(reflection): implement complete reflection feature with frontend and backend
  .kiro/specs/4.1-reflection-feature/tasks.md
  .kiro/steering/14-reflection-feature-best-practices.md
  .kiro/steering/4-wbs.md
  packages/backend/src/handlers/__tests__/reflection.test.ts
  packages/backend/src/handlers/reflection.ts
  packages/backend/src/services/__tests__/action-progress.service.property.test.ts
  packages/backend/src/services/__tests__/action-progress.service.test.ts
  packages/backend/src/services/__tests__/reflection.service.property.test.ts
  packages/backend/src/services/action-progress.service.ts
  packages/frontend/src/components/forms/ReflectionForm.tsx
  packages/frontend/src/components/reflection/ActionProgressSelector.tsx
  packages/frontend/src/components/reflection/ReflectionDetail.tsx
  packages/frontend/src/components/reflection/ReflectionForm.tsx
  packages/frontend/src/components/reflection/ReflectionList.tsx
  packages/frontend/src/components/reflection/index.ts
  packages/frontend/src/hooks/useReflections.ts
  packages/frontend/src/pages/LazyPages.tsx
  packages/frontend/src/pages/ReflectionCreatePage.tsx
  packages/frontend/src/pages/ReflectionDetailPage.tsx
  packages/frontend/src/pages/ReflectionEditPage.tsx
  packages/frontend/src/pages/ReflectionListPage.tsx
  packages/frontend/src/router/AppRouter.tsx
  packages/frontend/src/schemas/reflection-form.ts
  packages/frontend/src/services/reflectionApi.ts
  packages/frontend/src/types/reflection.ts
Owners: @goal-mandala-team, @backend-team, @frontend-team

docs(reflection): api仕様書を作成
  packages/backend/docs/reflection-api-specification.md
Owners: @backend-team, @goal-mandala-team

docs(reflection): ユーザーマニュアルを作成
  packages/backend/docs/reflection-user-manual.md
Owners: @backend-team, @goal-mandala-team

docs(reflection): mark phase 3 tasks complete and document best practices
  .kiro/specs/4.1-reflection-feature/tasks.md
  .kiro/steering/14-reflection-feature-best-practices.md
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: CodeQL有効化
  .github/workflows/codeql.yml
Owners: @devops-team, @goal-mandala-team

ci: add dependabot configuration for automated dependency updates
  .github/dependabot.yml
Owners: @devops-team, @goal-mandala-team

ci: add production deployment infrastructure and workflows
  .github/workflows/deploy-production.yml
  .github/workflows/rollback-production.yml
  .kiro/specs/4.3-production-deployment/README.md
  .kiro/specs/4.3-production-deployment/design.md
  .kiro/specs/4.3-production-deployment/requirements.md
  .kiro/specs/4.3-production-deployment/tasks.md
  .kiro/steering/4-wbs.md
  README.md
  packages/infrastructure/config/production.json
  packages/infrastructure/package.json
  packages/infrastructure/src/config/project-config.ts
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/stacks/__tests__/cloudtrail-stack.test.ts
  packages/infrastructure/src/stacks/cloudtrail-stack.ts
  packages/infrastructure/src/stacks/cognito-stack.ts
  packages/infrastructure/src/stacks/reminder-stack.ts
  packages/infrastructure/src/stacks/task-management-stack.ts
Owners: @devops-team, @goal-mandala-team

docs(production-deployment): mark phase 1-3 complete and separate phase 4 tasks
  .kiro/specs/4.3-production-deployment/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/docs/deployment-guide.md
Owners: @goal-mandala-team, @backend-team

docs(production-verification): add spec 4.4 for production verification and documentation
  .kiro/specs/4.4-production-verification/README.md
  .kiro/specs/4.4-production-verification/design.md
  .kiro/specs/4.4-production-verification/requirements.md
  .kiro/specs/4.4-production-verification/tasks.md
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

ci(production-verification): add secrets verification workflow and deployment documentation
  .github/workflows/verify-secrets.yml
  .kiro/specs/4.4-production-verification/tasks.md
  .kiro/steering/15-production-deployment-best-practices.md
  .kiro/steering/4-wbs.md
  docs/deployment-guide.md
  docs/operations-manual.md
  docs/rollback-guide.md
  docs/troubleshooting-guide.md
  packages/backend/docs/reflection-api-specification.md
Owners: @devops-team, @goal-mandala-team, @backend-team

test(coverage): add test infrastructure and coverage improvement spec 4.5
  .github/workflows/test.yml
  .kiro/specs/4.5-test-coverage-improvement/README.md
  .kiro/specs/4.5-test-coverage-improvement/design.md
  .kiro/specs/4.5-test-coverage-improvement/requirements.md
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  .kiro/steering/4-wbs.md
  packages/frontend/package.json
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/src/test/__tests__/test-utilities.test.ts
  packages/frontend/src/test/factories/action.factory.ts
  packages/frontend/src/test/factories/goal.factory.ts
  packages/frontend/src/test/factories/index.ts
  packages/frontend/src/test/factories/reflection.factory.ts
  packages/frontend/src/test/factories/subgoal.factory.ts
  packages/frontend/src/test/factories/task.factory.ts
  packages/frontend/src/test/matchers/custom-matchers.ts
  packages/frontend/src/test/matchers/index.ts
  packages/frontend/src/test/setup.ts
  packages/frontend/src/test/test-utils.tsx
Owners: @devops-team, @goal-mandala-team, @frontend-team

docs(steering): add file matching patterns to steering documents
  .kiro/steering/10-aws-guide.md
  .kiro/steering/11-react-hooks-best-practices.md
  .kiro/steering/12-documentation-management.md
  .kiro/steering/13-step-functions-best-practices.md
  .kiro/steering/14-reflection-feature-best-practices.md
  .kiro/steering/15-production-deployment-best-practices.md
  .kiro/steering/3-development-roadmap.md
  .kiro/steering/4-wbs.md
  .kiro/steering/5-screen-specifications.md
  .kiro/steering/6-database-design.md
  .kiro/steering/7-implementation-guide.md
  .kiro/steering/8-security-guide.md
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

test(frontend): add comprehensive test coverage for hooks, pages, and services
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  packages/frontend/src/hooks/__tests__/hooks-coverage.property.test.ts
  packages/frontend/src/hooks/__tests__/useDebounce.test.ts
  packages/frontend/src/hooks/__tests__/useKeyboardNavigation.test.ts
  packages/frontend/src/hooks/__tests__/useNetworkStatus.test.ts
  packages/frontend/src/hooks/__tests__/useQuery.test.tsx
  packages/frontend/src/hooks/__tests__/useReflections.test.tsx
  packages/frontend/src/hooks/__tests__/useResponsive.test.ts
  packages/frontend/src/hooks/__tests__/useTouch.test.ts
  packages/frontend/src/hooks/useAuth.test.tsx
  packages/frontend/src/pages/GoalInputPage.test.tsx
  packages/frontend/src/pages/LoginPage.test.tsx
  packages/frontend/src/pages/PasswordResetPage.test.tsx
  packages/frontend/src/pages/ReflectionCreatePage.test.tsx
  packages/frontend/src/pages/ReflectionEditPage.test.tsx
  packages/frontend/src/pages/ReflectionListPage.test.tsx
  packages/frontend/src/pages/SignupPage.test.tsx
  packages/frontend/src/pages/TaskDetailPage.test.tsx
  packages/frontend/src/pages/TaskListPage.test.tsx
  packages/frontend/src/pages/__tests__/ReflectionCreatePage.test.tsx
  packages/frontend/src/pages/__tests__/ReflectionEditPage.test.tsx
  packages/frontend/src/pages/__tests__/ReflectionListPage.test.tsx
  packages/frontend/src/pages/__tests__/TaskDetailPage.test.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.test.tsx
  packages/frontend/src/pages/__tests__/pages-coverage.property.test.ts
  packages/frontend/src/services/__tests__/action-api.test.ts
  packages/frontend/src/services/__tests__/api.test.ts
  packages/frontend/src/services/__tests__/reflectionApi.test.ts
  packages/frontend/src/services/__tests__/services-coverage.property.test.ts
  packages/frontend/src/services/__tests__/subgoal-api.test.ts
  packages/frontend/src/test/property-tests/hooks-coverage.property.test.ts
Owners: @goal-mandala-team, @frontend-team

test(coverage): complete phase 1 test coverage improvement to 62.85%
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  .kiro/steering/16-test-coverage-improvement-best-practices.md
  .kiro/steering/4-wbs.md
  packages/frontend/src/components/common/__tests__/ProgressBar.property.test.tsx
  packages/frontend/src/hooks/__tests__/hooks-phase2.property.test.ts
  packages/frontend/src/hooks/__tests__/useAuthForm.test.ts
  packages/frontend/src/hooks/__tests__/useErrorHandler.test.ts
  packages/frontend/src/hooks/__tests__/useNetworkStatus.test.ts
  packages/frontend/src/hooks/useAuth.test.tsx
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/src/pages/DeepLinkPage.test.tsx
  packages/frontend/src/pages/MandalaListPage.test.tsx
  packages/frontend/src/pages/ProfileSetupPage.test.tsx
  packages/frontend/src/pages/ReflectionDetailPage.test.tsx
  packages/frontend/src/pages/ReflectionListPage.test.tsx
  packages/frontend/src/pages/TaskDetailPage.test.tsx
  packages/frontend/src/pages/TaskListPage.test.tsx
  packages/frontend/src/pages/__tests__/ReflectionListPage.test.tsx
  packages/frontend/src/pages/__tests__/pages-phase2.property.test.ts
  packages/frontend/src/services/__tests__/draftService.test.ts
  packages/frontend/src/services/__tests__/error-handler.test.ts
  packages/frontend/src/services/__tests__/form-error-handler.test.ts
  packages/frontend/src/services/__tests__/goalFormService.test.ts
  packages/frontend/src/services/__tests__/progress-error-handler.test.ts
  packages/frontend/src/services/__tests__/reminderApi.test.ts
  packages/frontend/src/services/__tests__/services-coverage.property.test.ts
  packages/frontend/src/services/__tests__/storage-sync.test.ts
  packages/frontend/src/services/auth.test.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(components): add comprehensive test coverage for common, form, and reflection components
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  packages/frontend/src/components/common/__tests__/AccessibleList.test.tsx
  packages/frontend/src/components/common/__tests__/LazyImage.test.tsx
  packages/frontend/src/components/common/__tests__/LazyLoad.test.tsx
  packages/frontend/src/components/common/__tests__/VirtualScroll.test.tsx
  packages/frontend/src/components/forms/__tests__/FormField.test.tsx
  packages/frontend/src/components/forms/__tests__/TextArea.test.tsx
  packages/frontend/src/components/forms/__tests__/TextInput.test.tsx
  packages/frontend/src/components/reflection/__tests__/ActionProgressSelector.test.tsx
  packages/frontend/src/components/reflection/__tests__/ReflectionDetail.test.tsx
  packages/frontend/src/components/reflection/__tests__/ReflectionList.test.tsx
Owners: @goal-mandala-team, @frontend-team

test(components): complete property-based testing for components coverage phase 2
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  .kiro/steering/4-wbs.md
  packages/frontend/src/components/__tests__/components-coverage.property.test.ts
  packages/frontend/src/components/forms/__tests__/TextArea.test.tsx
Owners: @goal-mandala-team, @frontend-team

test(hooks): add comprehensive accessibility hook tests and complete phase 2
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  .kiro/steering/4-wbs.md
  packages/frontend/src/hooks/__tests__/useAccessibility.test.ts
  packages/frontend/src/hooks/__tests__/useReflections.test.tsx
  packages/frontend/src/hooks/useAuth.test.tsx
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/src/hooks/useWorkflow.test.ts
Owners: @goal-mandala-team, @frontend-team

test(hooks): add edge case tests for useTasks hook and complete phase 2
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  packages/frontend/src/hooks/__tests__/useTasks.test.tsx
Owners: @goal-mandala-team, @frontend-team

test(hooks): add property-based testing for hooks phase 3 coverage
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  packages/frontend/src/hooks/__tests__/hooks-phase3.property.test.ts
  packages/frontend/src/pages/ActionEditPage.test.tsx
  packages/frontend/src/pages/GoalInputPage.test.tsx
  packages/frontend/src/pages/ReminderSettingsPage.test.tsx
  packages/frontend/src/pages/SubGoalEditPage.test.tsx
Owners: @goal-mandala-team, @frontend-team

test(coverage): complete phase 2 and document phase 3 skip decision
  .kiro/specs/4.5-test-coverage-improvement/tasks.md
  .kiro/steering/16-test-coverage-improvement-best-practices.md
  .kiro/steering/4-wbs.md
  .kiro/steering/9-test-guide.md
  packages/frontend/package.json
  packages/frontend/src/pages/__tests__/pages-coverage-phase3.property.test.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

feat(vitest): upgrade to vitest 4.0 with configuration updates
  .kiro/specs/4.6-vitest-4-upgrade/design.md
  .kiro/specs/4.6-vitest-4-upgrade/requirements.md
  .kiro/specs/4.6-vitest-4-upgrade/tasks.md
  .kiro/steering/17-vitest-4-upgrade-guide.md
  .kiro/steering/4-wbs.md
  packages/frontend/package.json
  packages/frontend/src/test/__tests__/vitest-config.test.ts
  packages/frontend/vitest.config.ts
  packages/frontend/vitest.integration.config.ts
  pnpm-lock.yaml
Owners: @goal-mandala-team, @frontend-team

feat: vitest 4への更新
  .kiro/specs/4.6-vitest-4-upgrade/tasks.md
  packages/frontend/src/test/__tests__/vitest-config.test.ts
  packages/frontend/src/test/package-version.test.ts
  packages/frontend/src/test/vitest-config.test.ts
Owners: @goal-mandala-team, @frontend-team

docs(vitest-4-upgrade): update CI/CD integration task documentation
  .kiro/specs/4.6-vitest-4-upgrade/tasks.md
Owners: @goal-mandala-team
