Repository satoshi256kbyte/goal-mandala, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goal-mandala-team, @frontend-team, @backend-team, @devops-team

feat: 1.2.2-vpc-network-setup
  .kiro/specs/1.2.2-vpc-network-setup/design.md
  .kiro/specs/1.2.2-vpc-network-setup/requirements.md
  .kiro/specs/1.2.2-vpc-network-setup/tasks.md
  .kiro/steering/4-wbs.md
  README.md
  packages/infrastructure/TROUBLESHOOTING.md
  packages/infrastructure/config/dev.json
  packages/infrastructure/config/local.json
  packages/infrastructure/config/prod.json
  packages/infrastructure/config/stg.json
  packages/infrastructure/config/test.json
  packages/infrastructure/scripts/test-security-group-rules.sh
  packages/infrastructure/scripts/test-vpc-connectivity.sh
  packages/infrastructure/scripts/test-vpc-integration.sh
  packages/infrastructure/src/config/environment.ts
  packages/infrastructure/src/constructs/database-construct.ts
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/stacks/api-stack.ts
  packages/infrastructure/src/stacks/database-stack.ts
  packages/infrastructure/src/stacks/index.ts
  packages/infrastructure/src/stacks/vpc-stack.test.ts
  packages/infrastructure/src/stacks/vpc-stack.ts
Owners: @goal-mandala-team, @devops-team

chore: remove vscode settings from git tracking
  .gitignore
  .vscode/settings.json
Owners: @goal-mandala-team

feat: 1.2.3-aurora-serverless-setup
  .kiro/specs/1.2.3-aurora-serverless-setup/design.md
  .kiro/specs/1.2.3-aurora-serverless-setup/requirements.md
  .kiro/specs/1.2.3-aurora-serverless-setup/tasks.md
  .kiro/steering/4-wbs.md
  packages/infrastructure/config/dev.json
  packages/infrastructure/config/local.json
  packages/infrastructure/config/prod.json
  packages/infrastructure/config/stg.json
  packages/infrastructure/config/test.json
  packages/infrastructure/docs/aurora-serverless-setup-summary.md
  packages/infrastructure/docs/iam-database-authentication-setup.md
  packages/infrastructure/package.json
  packages/infrastructure/scripts/setup-iam-database-users.sql
  packages/infrastructure/src/config/environment.ts
  packages/infrastructure/src/constructs/database-construct.test.ts
  packages/infrastructure/src/constructs/database-construct.ts
  packages/infrastructure/src/constructs/database-iam-construct.test.ts
  packages/infrastructure/src/constructs/database-iam-construct.ts
  packages/infrastructure/src/constructs/database-iam-setup-construct.ts
  packages/infrastructure/src/constructs/index.ts
  packages/infrastructure/src/lambda/database-iam-setup.ts
  packages/infrastructure/src/lambda/package.json
  packages/infrastructure/src/lambda/tsconfig.json
  packages/infrastructure/src/stacks/database-stack.test.ts
  packages/infrastructure/src/stacks/database-stack.ts
  pnpm-lock.yaml
Owners: @goal-mandala-team, @devops-team

feat: wbs進捗状況を最新化
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: 整形
  packages/backend/src/services/secret-usage-example.md
Owners: @backend-team, @goal-mandala-team

fix: mcp で awslabs.core-mcp-server が動かないので一旦削除
  .amazonq/mcp.json
  .kiro/settings/mcp.json
Owners: @goal-mandala-team

fix: スペルミス修正
  .kiro/steering/10-aws-guide.md
Owners: @goal-mandala-team

refactor: mcp.jsonの整形
  .kiro/settings/mcp.json
Owners: @goal-mandala-team

feat: .amazonq/agents/default.jsonの整備
  .amazonq/agents/default.json
Owners: @goal-mandala-team

refactor: 整形
  .kiro/settings/mcp.json
Owners: @goal-mandala-team

feat: 1.3.1 Amazon Cognito設定 (Spec: 1.3.1-cognito-setup)
  .env.example
  .kiro/specs/1.3.1-cognito-setup/design.md
  .kiro/specs/1.3.1-cognito-setup/requirements.md
  .kiro/specs/1.3.1-cognito-setup/tasks.md
  package.json
  packages/backend/package.json
  packages/infrastructure/README.md
  packages/infrastructure/config/dev.json
  packages/infrastructure/config/local.json
  packages/infrastructure/config/prod.json
  packages/infrastructure/config/stg.json
  packages/infrastructure/config/test.json
  packages/infrastructure/docs/cognito-deployment-guide.md
  packages/infrastructure/docs/cognito-troubleshooting-guide.md
  packages/infrastructure/package.json
  packages/infrastructure/scripts/cdk-helper.sh
  packages/infrastructure/scripts/deploy-cognito.sh
  packages/infrastructure/scripts/validate-cognito-config.sh
  packages/infrastructure/src/config/environment.ts
  packages/infrastructure/src/constructs/cloudfront-construct.ts
  packages/infrastructure/src/constructs/index.ts
  packages/infrastructure/src/constructs/lambda-construct.ts
  packages/infrastructure/src/constructs/ses-construct.test.ts
  packages/infrastructure/src/constructs/ses-construct.ts
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/stacks/api-stack.ts
  packages/infrastructure/src/stacks/cognito-stack-email.test.ts
  packages/infrastructure/src/stacks/cognito-stack.integration.test.ts
  packages/infrastructure/src/stacks/cognito-stack.test.ts
  packages/infrastructure/src/stacks/cognito-stack.ts
  packages/infrastructure/src/stacks/frontend-stack.ts
  packages/infrastructure/src/stacks/index.ts
Owners: @devops-team, @goal-mandala-team

docs(wbs): specタスクにlintとformat実行を必須化
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

fix: 整形
  packages/infrastructure/docs/cognito-troubleshooting-guide.md
Owners: @devops-team, @goal-mandala-team

feat: タスクの作り方の指示を追加
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

fix: プリコミット時に都度全体型チェックをしてしまうのを解除
  .husky/pre-commit
Owners: @goal-mandala-team

docs: wbs 更新
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

docs: wbs更新
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: 1.4.1-er-diagram-design
  .kiro/specs/1.4.1-er-diagram-design/design.md
  .kiro/specs/1.4.1-er-diagram-design/requirements.md
  .kiro/specs/1.4.1-er-diagram-design/tasks.md
  .kiro/steering/6-database-design.md
Owners: @goal-mandala-team

feat: 1.4.1 ER図設計の完了
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: 1.4.2-prisma-schema-definition
  .kiro/specs/1.4.2-prisma-schema-definition/design.md
  .kiro/specs/1.4.2-prisma-schema-definition/requirements.md
  .kiro/specs/1.4.2-prisma-schema-definition/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/.eslintrc.cjs
  packages/backend/package.json
  packages/backend/prisma/README.md
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed.ts
  packages/backend/scripts/performance-test.ts
  packages/backend/scripts/validate-schema.sh
  packages/backend/src/generated/prisma-client/default.d.ts
  packages/backend/src/generated/prisma-client/default.js
  packages/backend/src/generated/prisma-client/edge.d.ts
  packages/backend/src/generated/prisma-client/edge.js
  packages/backend/src/generated/prisma-client/index-browser.js
  packages/backend/src/generated/prisma-client/index.d.ts
  packages/backend/src/generated/prisma-client/index.js
  packages/backend/src/generated/prisma-client/package.json
  packages/backend/src/generated/prisma-client/runtime/edge-esm.js
  packages/backend/src/generated/prisma-client/runtime/edge.js
  packages/backend/src/generated/prisma-client/runtime/index-browser.d.ts
  packages/backend/src/generated/prisma-client/runtime/index-browser.js
  packages/backend/src/generated/prisma-client/runtime/library.d.ts
  packages/backend/src/generated/prisma-client/runtime/library.js
  packages/backend/src/generated/prisma-client/runtime/react-native.js
  packages/backend/src/generated/prisma-client/runtime/wasm.js
  packages/backend/src/generated/prisma-client/schema.prisma
  packages/backend/src/generated/prisma-client/wasm.d.ts
  packages/backend/src/generated/prisma-client/wasm.js
Owners: @goal-mandala-team, @backend-team

feat: 1.4.3-migration-implementation
  .github/workflows/database-migration.yml
  .kiro/specs/1.4.3-migration-implementation/design.md
  .kiro/specs/1.4.3-migration-implementation/requirements.md
  .kiro/specs/1.4.3-migration-implementation/tasks.md
  docs/migration-guide.md
  packages/backend/package.json
  packages/backend/scripts/backup-database.sh
  packages/backend/scripts/migrate-dev.sh
  packages/backend/scripts/migrate-prod.sh
  packages/backend/scripts/migrate-rollback.sh
  packages/backend/scripts/migrate-status.sh
  packages/backend/scripts/restore-database.sh
  packages/backend/scripts/setup-db-security.sh
  packages/backend/src/utils/migration-logger.ts
  packages/backend/src/utils/migration-metrics.ts
  packages/backend/tests/migration-performance.test.ts
  packages/backend/tests/migration.test.ts
  packages/frontend/src/hooks/useAuthOptimized.ts
  packages/frontend/src/services/auth-state-monitor.ts
  packages/frontend/src/services/error-handler.ts
Owners: @devops-team, @goal-mandala-team, @backend-team, @frontend-team

feat: 進捗管理の更新とモノレポ環境構築の完了
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: wbsドキュメントの成果物一覧と工数見積もりを削除
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: 1.4.4-seed-data-creation
  .kiro/specs/1.4.4-seed-data-creation/design.md
  .kiro/specs/1.4.4-seed-data-creation/requirements.md
  .kiro/specs/1.4.4-seed-data-creation/tasks.md
  packages/backend/package.json
  packages/backend/prisma/seed.ts
  packages/backend/prisma/seed/data/development.ts
  packages/backend/prisma/seed/data/test.ts
  packages/backend/prisma/seed/environment-manager.ts
  packages/backend/prisma/seed/manager.ts
  packages/backend/prisma/seed/types.ts
  packages/backend/prisma/seed/validator.ts
  pnpm-lock.yaml
Owners: @goal-mandala-team, @backend-team

refactor: backend migration tests and improve frontend authentication handling
  .github/workflows/database-migration.yml
  .kiro/specs/1.4.3-migration-implementation/tasks.md
  .kiro/specs/1.4.4-seed-data-creation/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/docs/migration-guide.md
  packages/backend/package.json
  packages/backend/prisma/seed/data/demo.ts
  packages/backend/prisma/seed/data/performance.ts
  packages/backend/prisma/seed/environment-manager.ts
  packages/backend/scripts/backup-database.sh
  packages/backend/scripts/check-code-quality.sh
  packages/backend/scripts/deployment-checklist.sh
  packages/backend/scripts/migrate-init.sh
  packages/backend/scripts/migrate-prod.sh
  packages/backend/scripts/migrate-status.sh
  packages/backend/scripts/restore-database.sh
  packages/backend/scripts/test-migration-integration.sh
  packages/backend/tests/migration-performance.test.ts
  packages/backend/tests/migration.test.ts
  packages/frontend/src/components/auth/AuthStateMonitorDebug.tsx
  packages/frontend/src/components/auth/AuthStateMonitorProvider.tsx
  packages/frontend/src/config/auth-config.ts
  packages/frontend/src/examples/auth-usage-examples.tsx
  packages/frontend/src/hooks/useAuth.ts
  packages/frontend/src/hooks/useAuthOptimized.ts
  packages/frontend/src/services/auth-security.ts
  packages/frontend/src/services/auth-state-monitor.ts
  packages/frontend/src/services/error-handler.ts
  packages/frontend/src/services/index.ts
Owners: @devops-team, @goal-mandala-team, @backend-team, @frontend-team

feat: マイグレーション実装の進捗を完了に更新
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

feat: 2.1.1-mandala-chart-display
  .kiro/specs/2.1.1-mandala-chart-display/design.md
  .kiro/specs/2.1.1-mandala-chart-display/requirements.md
  .kiro/specs/2.1.1-mandala-chart-display/tasks.md
  .kiro/steering/4-wbs.md
  packages/frontend/e2e/mandala/mandala-chart.spec.ts
  packages/frontend/src/components/MandalaChart.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/mandala/MandalaCell.tsx
  packages/frontend/src/components/mandala/MandalaChart.css
  packages/frontend/src/components/mandala/MandalaChart.stories.tsx
  packages/frontend/src/components/mandala/MandalaChart.tsx
  packages/frontend/src/components/mandala/MandalaGrid.tsx
  packages/frontend/src/components/mandala/README.md
  packages/frontend/src/components/mandala/__tests__/MandalaCell.test.tsx
  packages/frontend/src/components/mandala/__tests__/MandalaChart.integration.test.tsx
  packages/frontend/src/components/mandala/__tests__/MandalaChart.test.tsx
  packages/frontend/src/components/mandala/__tests__/accessibility.test.tsx
  packages/frontend/src/components/mandala/__tests__/performance.test.tsx
  packages/frontend/src/components/mandala/index.ts
  packages/frontend/src/types/index.ts
  packages/frontend/src/types/mandala.ts
  packages/frontend/src/utils/__tests__/mandala.test.ts
  packages/frontend/src/utils/__tests__/security.test.ts
  packages/frontend/src/utils/mandala.ts
  packages/frontend/src/utils/security.ts
Owners: @goal-mandala-team, @frontend-team

feat: 2.1.2-goal-input-form
  packages/frontend/src/components/forms/DatePicker.tsx
  packages/frontend/src/components/forms/GoalInputForm.tsx
  packages/frontend/src/hooks/useDraftAutoSave.ts
Owners: @frontend-team, @goal-mandala-team

fix: 警告修正
  packages/backend/src/handlers/change-history.ts
  packages/backend/src/services/change-history.ts
  packages/backend/src/utils/sanitize.ts
  packages/infrastructure/src/stacks/cognito-stack.ts
  packages/infrastructure/src/stacks/frontend-stack.ts
Owners: @backend-team, @goal-mandala-team, @devops-team

fix: 不要なファイルの削除
  .kiro/specs/2.1.5-edit-functionality/COMPLETION_REPORT.md
  .kiro/specs/2.1.5-edit-functionality/EDIT_FUNCTIONALITY_DOCUMENTATION.md
Owners: @goal-mandala-team

feat: 2.2.1-bedrock-lambda-function
  .env.example
  .kiro/specs/2.2.1-bedrock-lambda-function/design.md
  .kiro/specs/2.2.1-bedrock-lambda-function/requirements.md
  .kiro/specs/2.2.1-bedrock-lambda-function/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/src/config/__tests__/bedrock.config.test.ts
  packages/backend/src/config/bedrock.config.ts
  packages/backend/src/handlers/ai-generation.test.ts
  packages/backend/src/handlers/ai-generation.ts
  packages/backend/src/services/__tests__/bedrock-client.test.ts
  packages/backend/src/services/__tests__/bedrock.service.test.ts
  packages/backend/src/services/__tests__/prompt-template.test.ts
  packages/backend/src/services/__tests__/response-parser.test.ts
  packages/backend/src/services/bedrock-client.ts
  packages/backend/src/services/bedrock.service.ts
  packages/backend/src/services/prompt-template.ts
  packages/backend/src/services/response-parser.ts
  packages/backend/src/types/ai-generation.types.ts
  packages/backend/src/types/bedrock.types.ts
  packages/backend/src/utils/ai-security.test.ts
  packages/backend/src/utils/ai-security.ts
  packages/backend/src/utils/error-handler.test.ts
  packages/backend/src/utils/error-handler.ts
  packages/backend/src/utils/logger.test.ts
  packages/backend/src/utils/logger.ts
  packages/backend/src/utils/retry.test.ts
  packages/backend/src/utils/retry.ts
  packages/infrastructure/src/constructs/ai-generation-lambda-construct.test.ts
  packages/infrastructure/src/constructs/ai-generation-lambda-construct.ts
Owners: @devops-team, @goal-mandala-team, @backend-team

feat: 2.2.1-bedrock-lambda-functionの残タスク
  .kiro/specs/2.2.1-bedrock-lambda-function/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/docs/ai-generation-api-specification.md
  packages/backend/docs/ai-generation-developer-guide.md
  packages/backend/docs/ai-generation-operations-guide.md
  packages/backend/docs/deployment-checklist.md
  packages/backend/src/handlers/ai-generation.integration.test.ts
  packages/backend/src/handlers/ai-generation.ts
  packages/backend/src/services/bedrock.service.ts
  packages/backend/src/utils/__tests__/structured-logger.test.ts
  packages/backend/src/utils/structured-logger.ts
  packages/infrastructure/src/constructs/lambda-construct.ts
  packages/infrastructure/src/stacks/ai-generation-stack.test.ts
Owners: @goal-mandala-team, @backend-team, @devops-team

fix: lintエラー修正
  .kiro/steering/4-wbs.md
  packages/backend/src/handlers/subgoal-generation.ts
  packages/backend/src/middleware/auth-error-integration.test.ts
  packages/backend/src/services/input-validation.service.ts
  packages/backend/src/utils/structured-logger.ts
  packages/frontend/package.json
  pnpm-lock.yaml
Owners: @goal-mandala-team, @backend-team

feat: 2.2.4-task-generation-api
  .kiro/settings/mcp.json
  .kiro/specs/2.2.4-task-generation-api/design.md
  .kiro/specs/2.2.4-task-generation-api/requirements.md
  .kiro/specs/2.2.4-task-generation-api/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/README.md
  packages/backend/docs/task-generation-api-specification.md
  packages/backend/docs/task-generation-error-codes.md
  packages/backend/docs/task-generation-operations-guide.md
  packages/backend/docs/task-generation-troubleshooting-guide.md
  packages/backend/prisma/schema.prisma
  packages/backend/src/__tests__/e2e/subgoal-generation.e2e.test.ts
  packages/backend/src/__tests__/e2e/task-generation.e2e.test.ts
  packages/backend/src/__tests__/fixtures/task-generation-fixtures.ts
  packages/backend/src/__tests__/logging.test.ts
  packages/backend/src/__tests__/performance/task-generation.performance.test.ts
  packages/backend/src/__tests__/processing-time.test.ts
  packages/backend/src/config/task-generation.config.ts
  packages/backend/src/errors/task-generation.errors.ts
  packages/backend/src/handlers/__tests__/task-generation-security.test.ts
  packages/backend/src/handlers/__tests__/task-generation.test.ts
  packages/backend/src/handlers/task-generation.ts
  packages/backend/src/middleware/auth-error-integration.test.ts
  packages/backend/src/schemas/task-generation.schema.ts
  packages/backend/src/services/__tests__/bedrock.service.test.ts
  packages/backend/src/services/__tests__/context.service.test.ts
  packages/backend/src/services/__tests__/task-database.service.test.ts
  packages/backend/src/services/__tests__/task-generation.service.test.ts
  packages/backend/src/services/__tests__/task-quality-validator.service.test.ts
  packages/backend/src/services/bedrock.service.ts
  packages/backend/src/services/context.service.ts
  packages/backend/src/services/prompt-template.ts
  packages/backend/src/services/response-parser.ts
  packages/backend/src/services/task-database.service.ts
  packages/backend/src/services/task-generation.service.ts
  packages/backend/src/services/task-quality-validator.service.ts
  packages/backend/src/types/task-generation.types.ts
  packages/infrastructure/src/stacks/api-stack.test.ts
  packages/infrastructure/src/stacks/api-stack.ts
Owners: @goal-mandala-team, @backend-team, @devops-team

feat: implement comprehensive test timeout management system
  README.md
  docs/test-execution-rules.md
  package.json
  packages/backend/jest.config.js
  packages/backend/src/__tests__/processing-time.test.ts
  packages/frontend/e2e/basic.spec.ts
  packages/frontend/e2e/security.spec.ts
  packages/frontend/e2e/smoke.spec.ts
  packages/frontend/e2e/test-setup.ts
  packages/frontend/package.json
  packages/frontend/playwright.config.ts
  packages/frontend/src/components/forms/DatePicker.tsx
  packages/frontend/src/components/forms/GoalInputForm.tsx
  packages/frontend/src/components/forms/TextArea.tsx
  packages/frontend/src/components/forms/TextInput.tsx
  packages/frontend/src/components/mandala/MandalaChart.css
  packages/frontend/src/components/mandala/MandalaGrid.tsx
  packages/frontend/src/contexts/GoalFormContext.tsx
  packages/frontend/test-results/.last-run.json
  packages/frontend/test-results/goal-input-goal-input-flow-目標入力フロー-フォーム入力中の自動保存が動作する-chromium/error-context.md
  packages/frontend/test-results/goal-input-goal-input-flow-目標入力フロー-手動下書き保存が動作する-chromium/error-context.md
  packages/frontend/test-results/goal-input-goal-input-flow-目標入力フロー-日付ピッカーを使用した日付選択が動作する-chromium/error-context.md
  packages/frontend/vite.config.ts
  packages/frontend/vitest.config.ts
  packages/shared/jest.config.js
  tools/scripts/debug-test.sh
  tools/scripts/test-with-timeout.sh
  tools/scripts/validate-test-setup.sh
Owners: @goal-mandala-team, @backend-team, @frontend-team

feat(dashboard): implement comprehensive dashboard screen functionality
  .kiro/specs/2.3.4-dashboard-screen/design.md
  .kiro/specs/2.3.4-dashboard-screen/requirements.md
  .kiro/specs/2.3.4-dashboard-screen/tasks.md
  .kiro/specs/2.4.1-progress-calculation-fix/design.md
  .kiro/specs/2.4.1-progress-calculation-fix/requirements.md
  .kiro/specs/2.4.1-progress-calculation-fix/tasks.md
  .kiro/specs/2.4.5-comprehensive-test-fix/design.md
  .kiro/specs/2.4.5-comprehensive-test-fix/requirements.md
  .kiro/steering/4-wbs.md
  .kiro/steering/9-test-guide.md
  packages/backend/src/services/progress-calculation.test.ts
  packages/backend/src/services/progress-calculation.ts
  packages/backend/src/services/progress-validator.test.ts
  packages/backend/src/services/progress-validator.ts
  packages/frontend/docs/mandala-list-final-verification.md
  packages/frontend/docs/mandala-list-screen-api.md
  packages/frontend/docs/mandala-list-screen-components.md
  packages/frontend/docs/mandala-list-screen-troubleshooting.md
  packages/frontend/docs/progress-calculation-engine-api.md
  packages/frontend/src/components/forms/ActionForm.tsx
  packages/frontend/src/components/forms/DatePicker.tsx
  packages/frontend/src/components/forms/GoalInputForm.tsx
  packages/frontend/src/components/forms/SubGoalForm.tsx
  packages/frontend/src/components/forms/TextArea.tsx
  packages/frontend/src/components/forms/TextInput.tsx
  packages/frontend/src/components/mandala/EditModal.test.tsx
  packages/frontend/src/components/mandala/MandalaCell.tsx
  packages/frontend/src/components/profile/ProfileSetupForm.tsx
  packages/frontend/src/hooks/mandala-list/useMandalaList.ts
  packages/frontend/src/services/__tests__/progress-calculation-engine.integration.test.ts
  packages/frontend/src/services/__tests__/progress-calculation-engine.performance.test.ts
  packages/frontend/src/services/__tests__/progress-error-handler.test.ts
  packages/frontend/src/services/progress-calculation-engine.ts
  packages/frontend/src/services/progress-error-handler.ts
  packages/frontend/src/test/integration/comprehensive-error-handling.integration.test.tsx
  packages/frontend/src/utils/animation-utils.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @backend-team, @frontend-team

refactor: テスト改善
  .kiro/specs/2.4.5-comprehensive-test-fix/tasks.md
  .kiro/specs/2.4.a-test-performance-improvement/design.md
  .kiro/specs/2.4.a-test-performance-improvement/requirements.md
  .kiro/specs/2.4.a-test-performance-improvement/tasks.md
  .kiro/steering/4-wbs.md
  .kiro/steering/9-test-guide.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/frontend/package.json
  packages/frontend/src/test/integration/api-integration.integration.test.tsx
  packages/frontend/src/test/integration/data-integrity.integration.test.tsx
  packages/frontend/src/test/integration/final-integration.integration.test.tsx
  packages/frontend/src/test/integration/multi-tab-sync.integration.test.tsx
  packages/frontend/src/test/integration/security.integration.test.tsx
  packages/frontend/src/test/setup.ts
  packages/frontend/vitest.config.ts
  packages/frontend/vitest.integration.config.ts
  tools/scripts/test-with-timeout.sh
Owners: @goal-mandala-team, @frontend-team

chore: clean up temporary test reports and documentation
  .gitignore
  .kiro/specs/2.4.9-test-architecture-overhaul/coverage-verification-results.md
  .kiro/specs/2.4.9-test-architecture-overhaul/e2e-test-results.md
  .kiro/specs/2.4.9-test-architecture-overhaul/tasks.md
  .kiro/steering/4-wbs.md
  integration-test-report.json
  packages/backend/MIGRATION_INSTRUCTIONS.md
  packages/backend/QUICK_START_MIGRATION.md
  packages/backend/TASK_1_COMPLETION_SUMMARY.md
  packages/backend/src/IMPLEMENTATION_SUMMARY.md
  packages/frontend/PERFORMANCE_IMPROVEMENTS.md
  packages/frontend/SECURITY_REPORT.md
  packages/frontend/e2e/E2E_TEST_MINIMIZATION_SUMMARY.md
  packages/frontend/run-e2e-summary.sh
  tools/scripts/debug-test.sh
  tools/scripts/finalize-performance-report.py
  tools/scripts/finalize-performance-report.sh
  tools/scripts/fix-jest-to-vitest.sh
  tools/scripts/generate-performance-report.sh
  tools/scripts/measure-test-performance.sh
  tools/scripts/record-performance-result.sh
  tools/scripts/run-performance-measurement.sh
  tools/scripts/validate-test-setup.sh
Owners: @goal-mandala-team, @backend-team, @frontend-team

feat(useGoalForm): fix memory leak and infinite loop issues
  .kiro/hooks/spec-wbs-update.kiro.hook
  .kiro/specs/2.4.10-usegoalform-memory-leak-fix/design.md
  .kiro/specs/2.4.10-usegoalform-memory-leak-fix/requirements.md
  .kiro/specs/2.4.10-usegoalform-memory-leak-fix/tasks.md
  .kiro/steering/11-react-hooks-best-practices.md
  .kiro/steering/99-spec.md
  packages/frontend/src/components/forms/GoalInputForm.tsx
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/src/hooks/useGoalForm.ts
  packages/frontend/src/test/types/README.md
Owners: @goal-mandala-team, @frontend-team

feat(test-environment): implement memory leak fixes and requestAnimationFrame mocking
  .kiro/specs/2.4.11-test-environment-memory-leak-fix/design.md
  .kiro/specs/2.4.11-test-environment-memory-leak-fix/requirements.md
  .kiro/specs/2.4.11-test-environment-memory-leak-fix/tasks.md
  .kiro/steering/4-wbs.md
  .kiro/steering/9-test-guide.md
  packages/frontend/src/components/mandala/EditModal.test.tsx
  packages/frontend/src/components/mandala/EditModal.tsx
  packages/frontend/src/test/__tests__/requestAnimationFrame.test.ts
  packages/frontend/src/test/__tests__/test-setup-cleanup.test.ts
  packages/frontend/src/test/setup.ts
  packages/frontend/src/utils/__tests__/animation-performance-memory-leak.test.ts
  packages/frontend/src/utils/__tests__/performance-monitor-memory-leak.test.ts
Owners: @goal-mandala-team, @frontend-team

.github/CODEOWNERS:

# Global owners
* @goal-mandala-team

# Frontend specific
/packages/frontend/ @frontend-team @goal-mandala-team

# Backend specific
/packages/backend/ @backend-team @goal-mandala-team

# Infrastructure specific
/packages/infrastructure/ @devops-team @goal-mandala-team

# Shared packages
/packages/shared/ @goal-mandala-team

# CI/CD workflows
/.github/ @devops-team @goal-mandala-team

# Documentation
/docs/ @goal-mandala-team
README.md @goal-mandala-team
CONTRIBUTING.md @goal-mandala-team

# Configuration files
package.json @goal-mandala-team
pnpm-workspace.yaml @goal-mandala-team
turbo.json @goal-mandala-team
.tool-versions @goal-mandala-team

# Docker and development environment
docker-compose.yml @devops-team @goal-mandala-team
Dockerfile* @devops-team @goal-mandala-team
.env.example @devops-team @goal-mandala-team

# Security and compliance
.github/workflows/ @devops-team @goal-mandala-team
.husky/ @goal-mandala-team
