Repository satoshi256kbyte/goal-mandala, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goal-mandala-team, @frontend-team, @backend-team, @devops-team

docs: consolidate documentation from docs/ into .kiro/steering/
  .amazonq/agents/default.json
  .kiro/specs/docs-consolidation/design.md
  .kiro/specs/docs-consolidation/requirements.md
  .kiro/specs/docs-consolidation/tasks.md
  .kiro/specs/docs-consolidation/temp/consistency-verification.md
  .kiro/specs/docs-consolidation/temp/duplicate-analysis.md
  .kiro/steering/12-documentation-management.md
  .kiro/steering/2-technology-stack.md
  .kiro/steering/6-database-design.md
  .kiro/steering/7-implementation-guide.md
  .kiro/steering/9-test-guide.md
  CONTRIBUTING.md
  README.md
  docs/ci-version-settings.md
  docs/docker-optimization.md
  docs/docker-setup-guide.md
  docs/docker-troubleshooting.md
  docs/environment-variables.md
  docs/github-branch-protection.md
  docs/github-secrets-setup.md
  docs/husky-setup.md
  docs/integration-test-implementation.md
  docs/integration-testing.md
  docs/migration-guide.md
  docs/monorepo-architecture.md
  docs/sam-integration-test-results.md
  docs/test-execution-rules.md
  docs/testing-strategy.md
Owners: @goal-mandala-team

chore(.gitignore): improve temporary file and test results exclusion patterns
  .gitignore
Owners: @goal-mandala-team

chore(specs): reorganize profile input screen specs and add test architecture guide
  .kiro/specs/2.3.2-profile-input-screen/design.md
  .kiro/specs/2.3.2-profile-input-screen/requirements.md
  .kiro/specs/2.3.2-profile-input-screen/tasks.md
  .kiro/specs/2.4.9-test-architecture-overhaul/test-fix-guide copy.md
Owners: @goal-mandala-team

chore(specs): remove obsolete test architecture overhaul documentation
  .kiro/specs/2.4.9-test-architecture-overhaul/test-error-analysis.md
  .kiro/specs/2.4.9-test-architecture-overhaul/test-error-fixes.md
  .kiro/specs/2.4.9-test-architecture-overhaul/test-error-progress.md
  .kiro/specs/2.4.9-test-architecture-overhaul/test-fix-guide copy.md
  .kiro/specs/2.4.9-test-architecture-overhaul/test-fix-guide.md
Owners: @goal-mandala-team

chore(eslint): remove redundant test file exclusion patterns
  packages/frontend/.eslintrc.cjs
Owners: @frontend-team, @goal-mandala-team

test(animation): improve test environment compatibility and error handling
  packages/frontend/src/components/common/__tests__/animation-components.test.tsx
  packages/frontend/src/services/__tests__/progress-calculation-engine.test.ts
  packages/frontend/src/utils/animation-utils.ts
Owners: @frontend-team, @goal-mandala-team

docs(test-guide): add mandatory testing rules and best practices
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

chore(gitignore): consolidate generated files and build output exclusions
  .eslintignore
  .gitignore
  .prettierignore
  packages/backend/src/generated/prisma-client/default.d.ts
  packages/backend/src/generated/prisma-client/default.js
  packages/backend/src/generated/prisma-client/edge.d.ts
  packages/backend/src/generated/prisma-client/edge.js
  packages/backend/src/generated/prisma-client/index-browser.js
  packages/backend/src/generated/prisma-client/index.d.ts
  packages/backend/src/generated/prisma-client/index.js
  packages/backend/src/generated/prisma-client/package.json
  packages/backend/src/generated/prisma-client/runtime/edge-esm.js
  packages/backend/src/generated/prisma-client/runtime/edge.js
  packages/backend/src/generated/prisma-client/runtime/index-browser.d.ts
  packages/backend/src/generated/prisma-client/runtime/index-browser.js
  packages/backend/src/generated/prisma-client/runtime/library.d.ts
  packages/backend/src/generated/prisma-client/runtime/library.js
  packages/backend/src/generated/prisma-client/runtime/react-native.js
  packages/backend/src/generated/prisma-client/runtime/wasm.js
  packages/backend/src/generated/prisma-client/schema.prisma
  packages/backend/src/generated/prisma-client/wasm.d.ts
  packages/backend/src/generated/prisma-client/wasm.js
  packages/backend/src/middleware/config-examples/validate-config.js
Owners: @goal-mandala-team, @backend-team

chore(config): reorganize MCP configuration and clean up AmazonQ settings
  .amazonq/agents/default.json
  .amazonq/mcp.json
  .gitignore
  .kiro/settings/mcp.json.sample
Owners: @goal-mandala-team

Delete .kiro/settings/mcp.json
  .kiro/settings/mcp.json
Owners: @goal-mandala-team

chore(mcp): update MCP server configurations and add new servers
  .kiro/settings/mcp.json
Owners: @goal-mandala-team

test(backend): remove redundant vitest imports and fix test configuration
  packages/backend/src/__tests__/integration/task-lifecycle.test.ts
  packages/backend/src/__tests__/performance/task-performance.test.ts
  packages/backend/src/__tests__/quality/code-quality.test.ts
  packages/backend/src/__tests__/security/task-security.test.ts
  packages/backend/src/handlers/__tests__/task-management-handler.test.ts
  packages/backend/src/handlers/__tests__/task-management.test.ts
  packages/backend/src/handlers/task-management.test.ts
  packages/backend/src/services/__tests__/notification.property.test.ts
  packages/backend/src/services/__tests__/notification.service.test.ts
Owners: @backend-team, @goal-mandala-team

test(frontend): optimize vitest configuration and improve test utilities
  packages/frontend/package.json
  packages/frontend/src/components/common/__tests__/animation-components.test.tsx
  packages/frontend/src/components/mandala/EditModal.test.tsx
  packages/frontend/src/components/mandala/HistoryPanel.test.tsx
  packages/frontend/src/components/profile/CompanySizeSelect.tsx
  packages/frontend/src/components/profile/IndustrySelect.tsx
  packages/frontend/src/components/profile/JobTitleInput.tsx
  packages/frontend/src/components/profile/PositionInput.tsx
  packages/frontend/src/components/profile/__tests__/ProfileSetupForm.test.tsx
  packages/frontend/src/contexts/ActionContext.test.tsx
  packages/frontend/src/hooks/__tests__/useAchievementAnimation.test.tsx
  packages/frontend/src/hooks/useAchievementAnimation.ts
  packages/frontend/src/pages/SubGoalEditPage.test.tsx
  packages/frontend/src/pages/SubGoalEditPage.tsx
  packages/frontend/src/services/form-security.ts
  packages/frontend/src/test/setup.ts
  packages/frontend/src/test/test-utils.tsx
  packages/frontend/src/test/utils/TestDataGenerator.ts
  packages/frontend/src/utils/cn.ts
  packages/frontend/vite.config.ts
  packages/frontend/vitest.config.ts
  pnpm-lock.yaml
Owners: @goal-mandala-team, @frontend-team

feat(frontend): enable build, tests, and type checking
  packages/frontend/package.json
  packages/frontend/src/__tests__/integration/ProfileSetup.integration.test.tsx
  packages/frontend/src/hooks/useProfileForm.ts
  packages/frontend/src/test/utils/integration-test-utils.tsx
Owners: @goal-mandala-team, @frontend-team

test(frontend): expand coverage configuration and optimize test exclusions
  packages/frontend/package.json
  packages/frontend/src/hooks/useResponsiveLayout.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

feat(frontend): add vitest globals to TypeScript configuration
  packages/frontend/tsconfig.json
Owners: @frontend-team, @goal-mandala-team

docs(test-guide): add skipped test recovery plan and coverage improvement strategy
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

test(frontend): resolve skipped tests and improve test documentation
  .kiro/steering/9-test-guide.md
  packages/frontend/src/App.test.tsx
  packages/frontend/src/__tests__/integration/ProfileSetup.integration.test.tsx
  packages/frontend/src/components/auth/ProtectedRoute.test.tsx
  packages/frontend/src/components/auth/PublicRoute.test.tsx
  packages/frontend/src/components/common/ProgressBar.test.tsx
  packages/frontend/src/components/common/ProgressBar.tsx
  packages/frontend/src/components/mandala/EditModal.test.tsx
Owners: @goal-mandala-team, @frontend-team

test(frontend): refactor test configuration and fix hook imports
  packages/frontend/package.json
  packages/frontend/src/components/auth/AuthStateMonitorProvider.test.tsx
  packages/frontend/src/contexts/SubGoalContext.test.tsx
  packages/frontend/src/hooks/useAccessibility.ts
  packages/frontend/src/hooks/useDebounce.test.ts
  packages/frontend/src/hooks/useDebounce.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(hooks): add missing React imports and fix test utilities
  packages/frontend/src/hooks/__tests__/useFormSecurity.test.tsx
  packages/frontend/src/hooks/useAuthStateMonitor.test.tsx
  packages/frontend/src/hooks/useErrorRecovery.test.ts
  packages/frontend/src/hooks/useErrorRecovery.ts
  packages/frontend/src/hooks/useFormSubmission.test.ts
  packages/frontend/src/hooks/useNetworkErrorHandler.ts
  packages/frontend/src/hooks/useNetworkStatus.ts
  packages/frontend/src/hooks/useRealtimeValidation.ts
  packages/frontend/src/hooks/useResponsive.ts
  packages/frontend/src/hooks/useTimeout.test.ts
  packages/frontend/src/hooks/useTimeout.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): add missing test utility imports and fix vitest configuration
  packages/frontend/src/components/mandala/__tests__/MandalaChart.test.tsx
  packages/frontend/src/hooks/useNetworkStatus.test.ts
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

refactor(frontend): reorganize security utilities and improve component imports
  packages/frontend/src/components/mandala/MandalaCell.tsx
  packages/frontend/src/components/mandala/MandalaChart.tsx
  packages/frontend/src/components/mandala/__tests__/MandalaChart.test.tsx
  packages/frontend/src/utils/__tests__/security.test.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): skip flaky DatePicker and ValidationIntegration tests
  packages/frontend/src/components/forms/DatePicker.test.tsx
  packages/frontend/src/components/forms/ValidationIntegration.test.tsx
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

chore(frontend): simplify vitest exclusion patterns and remove redundant test filters
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

chore(frontend): consolidate vitest exclusion patterns and remove redundant e2e test filters
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

chore(frontend): simplify vitest exclusion patterns and coverage reporter
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): migrate jest mocks to vitest and increase memory limit
  .kiro/steering/9-test-guide.md
  packages/frontend/package.json
  packages/frontend/src/components/forms/GoalInputForm.tsx
  packages/frontend/src/components/task/__tests__/TaskCard.test.tsx
  packages/frontend/src/components/task/__tests__/TaskFilter.test.tsx
  packages/frontend/src/components/task/__tests__/TaskSearch.test.tsx
  packages/frontend/src/hooks/__tests__/useTasks.test.tsx
  packages/frontend/src/hooks/useKeyboardNavigation.ts
  packages/frontend/src/pages/__tests__/TaskDetailPage.property.test.tsx
  packages/frontend/src/pages/__tests__/TaskDetailPage.test.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.property.test.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.test.tsx
  packages/frontend/src/router/AppRouter.tsx
  packages/frontend/src/services/__tests__/api.test.ts
  packages/frontend/src/services/__tests__/taskApi.test.ts
  packages/frontend/src/services/draft-api.test.ts
  packages/frontend/src/services/draftService.test.ts
  packages/frontend/src/services/tokenManager.test.ts
  packages/frontend/src/test/accessibility-helpers.ts
  packages/frontend/src/test/goal-form-utils.ts
  packages/frontend/src/utils/__tests__/security.test.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(frontend): fix test imports and update vitest configuration for step 9
  packages/frontend/src/contexts/__tests__/AnimationSettingsContext.test.tsx
  packages/frontend/src/utils/authUtils.test.ts
  packages/frontend/src/utils/date-formatter.test.ts
  packages/frontend/src/utils/permissions.test.ts
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(hooks): refactor useAuth tests and improve localStorage mocking
  .kiro/steering/9-test-guide.md
  packages/frontend/src/components/auth/AuthProvider.tsx
  packages/frontend/src/hooks/useAuth.test.tsx
  packages/frontend/src/hooks/useAuth.ts
  packages/frontend/src/hooks/useCharacterCounter.test.ts
  packages/frontend/src/hooks/useCharacterCounter.ts
  packages/frontend/src/hooks/useTimeout.test.ts
  packages/frontend/src/hooks/useTimeout.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(frontend): fix test imports, mocks, and utility function references
  packages/frontend/src/__tests__/integration/ProfileSetup.integration.test.tsx
  packages/frontend/src/components/auth/AuthIntegration.test.tsx
  packages/frontend/src/components/auth/__tests__/ProtectedRoute.test.tsx
  packages/frontend/src/hooks/useTimeout.test.ts
  packages/frontend/src/utils/__tests__/mandala.test.ts
  packages/frontend/src/utils/__tests__/security.test.ts
  packages/frontend/src/utils/mandala.ts
  packages/frontend/src/utils/performance.ts
  packages/frontend/src/utils/profileValidation.ts
  packages/frontend/src/utils/sanitize.test.ts
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): add form component tests and update test guide
  .kiro/steering/9-test-guide.md
  packages/frontend/src/components/forms/BulkEditModal.test.tsx
  packages/frontend/src/components/forms/BulkEditModal.tsx
  packages/frontend/src/components/forms/ErrorDisplay.test.tsx
  packages/frontend/src/components/forms/ErrorDisplay.tsx
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

fix(frontend): resolve TypeScript type errors and missing imports
  .kiro/steering/4-wbs.md
  .kiro/steering/9-test-guide.md
  packages/backend/src/services/cache.service.ts
  packages/frontend/src/__tests__/e2e/task-management.e2e.test.ts
  packages/frontend/src/components/auth/AuthIntegration.test.tsx
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/components/auth/LoginForm.tsx
  packages/frontend/src/components/auth/NewPasswordForm.tsx
  packages/frontend/src/components/auth/PasswordResetForm.tsx
  packages/frontend/src/components/auth/ProtectedRoute.tsx
  packages/frontend/src/components/auth/PublicRoute.tsx
  packages/frontend/src/components/auth/SignupForm.tsx
  packages/frontend/src/components/common/LoadingButton.tsx
  packages/frontend/src/components/common/ProgressDetailModal.tsx
  packages/frontend/src/components/common/ProgressHistoryChart.tsx
  packages/frontend/src/components/common/ProgressHistoryDetail.tsx
  packages/frontend/src/components/common/ProgressTooltip.tsx
  packages/frontend/src/components/forms/BulkEditModal.test.tsx
  packages/frontend/src/test/test-utils.tsx
  packages/frontend/src/types/goal-form.ts
  packages/frontend/src/types/subgoal-action-api.ts
Owners: @goal-mandala-team, @backend-team, @frontend-team

test(frontend): simplify mock type assertions across test suite
  packages/frontend/src/__tests__/integration/ProfileSetup.integration.test.tsx
  packages/frontend/src/components/auth/AuthStateMonitorProvider.test.tsx
  packages/frontend/src/components/auth/__tests__/ProtectedRoute.test.tsx
  packages/frontend/src/components/common/__tests__/ProgressHistoryContainer.test.tsx
  packages/frontend/src/components/forms/DraftSaveButton.test.tsx
  packages/frontend/src/components/forms/EnhancedErrorDisplay.test.tsx
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/layout/__tests__/MobileLayout.test.tsx
  packages/frontend/src/components/layout/__tests__/TabletLayout.test.tsx
  packages/frontend/src/hooks/__tests__/useTasks.test.tsx
  packages/frontend/src/hooks/useDraftAutoSave.test.ts
  packages/frontend/src/hooks/useDraftManualSave.test.ts
  packages/frontend/src/hooks/useDraftRestore.test.ts
  packages/frontend/src/hooks/useErrorRecovery.test.ts
  packages/frontend/src/hooks/useFormSubmission.test.ts
  packages/frontend/src/hooks/useNetworkErrorHandler.test.ts
  packages/frontend/src/pages/MandalaListPage.test.tsx
  packages/frontend/src/pages/__tests__/TaskDetailPage.property.test.tsx
  packages/frontend/src/pages/__tests__/TaskDetailPage.test.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.property.test.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.test.tsx
  packages/frontend/src/router/AppRouter.test.tsx
  packages/frontend/src/router/__tests__/ProfileSetupRouting.test.tsx
  packages/frontend/src/services/__tests__/taskApi.test.ts
  packages/frontend/src/services/auth-state-monitor.integration.test.ts
  packages/frontend/src/services/auth-state-monitor.test.ts
  packages/frontend/src/services/tokenManager.test.ts
Owners: @frontend-team, @goal-mandala-team

fix(frontend): add missing imports for draft utilities and error types
  packages/frontend/src/components/forms/DraftRestoreNotification.tsx
  packages/frontend/src/components/forms/DraftSaveButton.tsx
  packages/frontend/src/hooks/mandala-list/__tests__/useMandalaList.test.ts
  packages/frontend/src/hooks/useDraftAutoSave.ts
  packages/frontend/src/hooks/useDraftManualSave.ts
  packages/frontend/src/hooks/useDraftRestore.ts
  packages/frontend/src/hooks/useFormSubmissionWithTimeout.ts
  packages/frontend/src/hooks/useNetworkErrorHandler.ts
  packages/frontend/src/services/mandala-list/__tests__/goals-api.test.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): fix type assertions and imports across test suite
  packages/frontend/src/components/forms/DatePicker.test.tsx
  packages/frontend/src/hooks/__tests__/useFormSecurity.test.tsx
  packages/frontend/src/hooks/useAuthStateMonitor.test.tsx
  packages/frontend/src/hooks/useDraftRestore.test.ts
  packages/frontend/src/services/__tests__/form-security.test.ts
Owners: @frontend-team, @goal-mandala-team

fix(frontend): add missing imports for goal form types across modules
  packages/frontend/src/components/forms/EnhancedErrorDisplay.test.tsx
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/src/hooks/useGoalFormSubmission.ts
  packages/frontend/src/pages/GoalInputPage.tsx
Owners: @frontend-team, @goal-mandala-team

feat(frontend): add virtualization and utility libraries with import fixes
  packages/frontend/package.json
  packages/frontend/src/components/forms/EnhancedErrorDisplay.test.tsx
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/forms/ErrorRecoveryPanel.tsx
  packages/frontend/src/components/task/VirtualTaskList.tsx
  packages/frontend/src/services/storage-sync.integration.test.ts
  packages/frontend/src/services/storage-sync.test.ts
  packages/frontend/src/services/storage-sync.ts
  pnpm-lock.yaml
Owners: @goal-mandala-team, @frontend-team

test(frontend): remove duplicate and untested component test suites
  packages/frontend/src/components/common/__tests__/ProgressHistoryDetail.test.tsx
  packages/frontend/src/components/common/__tests__/SafeText.test.tsx
  packages/frontend/src/hooks/useAuthForm.test.ts
  packages/frontend/src/services/action-api.test.ts
  packages/frontend/src/services/api-integration.test.ts
  packages/frontend/src/services/subgoal-api.test.ts
  packages/frontend/tsconfig.json
Owners: @frontend-team, @goal-mandala-team

fix(frontend): resolve missing imports and hook usage across form components
  packages/frontend/src/components/forms/ActionEditIntegration.test.tsx
  packages/frontend/src/components/forms/ActionForm.tsx
  packages/frontend/src/components/forms/DynamicFormField.tsx
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/forms/GoalInputForm.tsx
  packages/frontend/src/components/mandala/EditModal.tsx
  packages/frontend/src/components/task/MemoizedTaskCard.tsx
  packages/frontend/src/components/task/TaskFilter.tsx
  packages/frontend/src/contexts/ActionContext.tsx
  packages/frontend/src/hooks/__tests__/useFormSecurity.test.tsx
  packages/frontend/src/hooks/useActionForm.test.tsx
  packages/frontend/src/hooks/useAuthForm.ts
  packages/frontend/src/router/AppRouter.test.tsx
  packages/frontend/src/services/__tests__/form-security.test.ts
  packages/frontend/src/test/accessibility-test-helpers.ts
  packages/frontend/src/test/utils/integration-test-utils.tsx
Owners: @frontend-team, @goal-mandala-team

fix: 型チェックエラーを修正（257→224エラー）
  packages/frontend/src/components/common/LoadingSpinner.test.tsx
  packages/frontend/src/components/common/NetworkStatus.test.tsx
  packages/frontend/src/components/forms/BulkEditModal.test.tsx
  packages/frontend/src/components/forms/BulkSelectionProvider.test.tsx
  packages/frontend/src/components/forms/DateInput.test.tsx
  packages/frontend/src/components/forms/DateInput.tsx
  packages/frontend/src/components/forms/DraggableItem.tsx
  packages/frontend/src/components/forms/__tests__/SecureFormWrapper.test.tsx
  packages/frontend/src/utils/draft-utils.ts
Owners: @frontend-team, @goal-mandala-team

.github/CODEOWNERS:

# Global owners
* @goal-mandala-team

# Frontend specific
/packages/frontend/ @frontend-team @goal-mandala-team

# Backend specific
/packages/backend/ @backend-team @goal-mandala-team

# Infrastructure specific
/packages/infrastructure/ @devops-team @goal-mandala-team

# Shared packages
/packages/shared/ @goal-mandala-team

# CI/CD workflows
/.github/ @devops-team @goal-mandala-team

# Documentation
/docs/ @goal-mandala-team
README.md @goal-mandala-team
CONTRIBUTING.md @goal-mandala-team

# Configuration files
package.json @goal-mandala-team
pnpm-workspace.yaml @goal-mandala-team
turbo.json @goal-mandala-team
.tool-versions @goal-mandala-team

# Docker and development environment
docker-compose.yml @devops-team @goal-mandala-team
Dockerfile* @devops-team @goal-mandala-team
.env.example @devops-team @goal-mandala-team

# Security and compliance
.github/workflows/ @devops-team @goal-mandala-team
.husky/ @goal-mandala-team
