Repository satoshi256kbyte/goal-mandala, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goal-mandala-team, @frontend-team, @backend-team, @devops-team

.github/CODEOWNERS:

# Global owners
* @goal-mandala-team

# Frontend specific
/packages/frontend/ @frontend-team @goal-mandala-team

# Backend specific
/packages/backend/ @backend-team @goal-mandala-team

# Infrastructure specific
/packages/infrastructure/ @devops-team @goal-mandala-team

# Shared packages
/packages/shared/ @goal-mandala-team

# CI/CD workflows
/.github/ @devops-team @goal-mandala-team

# Documentation
/docs/ @goal-mandala-team
README.md @goal-mandala-team
CONTRIBUTING.md @goal-mandala-team

# Configuration files
package.json @goal-mandala-team
pnpm-workspace.yaml @goal-mandala-team
turbo.json @goal-mandala-team
.tool-versions @goal-mandala-team

# Docker and development environment
docker-compose.yml @devops-team @goal-mandala-team
Dockerfile* @devops-team @goal-mandala-team
.env.example @devops-team @goal-mandala-team

# Security and compliance
.github/workflows/ @devops-team @goal-mandala-team
.husky/ @goal-mandala-team

test(forms, hooks): fix test assertions to use correct selectors and dynamic values
  packages/frontend/src/components/forms/FormActions.test.tsx
  packages/frontend/src/components/forms/SubGoalForm.test.tsx
  packages/frontend/src/hooks/__tests__/useResponsive.test.ts
Owners: @frontend-team, @goal-mandala-team

fix: テストエラー修正
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/forms/FormActions.test.tsx
  packages/frontend/src/components/forms/TextArea.tsx
  packages/frontend/src/components/forms/TextInput.tsx
  packages/frontend/src/components/task/__tests__/ProgressBar.property.test.tsx
  packages/frontend/src/hooks/__tests__/useProfileForm.test.ts
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/src/hooks/useGoalForm.ts
  packages/frontend/src/hooks/useNetworkErrorHandler.test.ts
  packages/frontend/src/services/api-integration.test.ts
Owners: @frontend-team, @goal-mandala-team

fix: テストエラー修正
  packages/frontend/src/components/forms/FormActions.test.tsx
  packages/frontend/src/components/forms/GoalInputForm.test.tsx
  packages/frontend/src/components/task/__tests__/ProgressBar.property.test.tsx
  packages/frontend/src/hooks/useNetworkErrorHandler.test.ts
Owners: @frontend-team, @goal-mandala-team

fix: テストエラー修正
  packages/frontend/src/components/forms/FormActions.test.tsx
  packages/frontend/src/components/forms/SubGoalForm.test.tsx
  packages/frontend/src/hooks/__tests__/useProfileForm.test.ts
  packages/frontend/src/hooks/useNetworkErrorHandler.test.ts
  packages/frontend/src/hooks/useProfileForm.ts
  packages/frontend/src/pages/TaskListPage.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.test.tsx
Owners: @frontend-team, @goal-mandala-team

fix: テストエラー修正
  packages/frontend/src/components/forms/SubGoalForm.test.tsx
  packages/frontend/src/components/forms/SubGoalForm.tsx
Owners: @frontend-team, @goal-mandala-team

fix: テストエラーの修正
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/gestures/__tests__/SwipeableContainer.test.tsx
  packages/frontend/src/components/layout/__tests__/MobileLayout.test.tsx
  packages/frontend/src/components/layout/__tests__/TabletLayout.test.tsx
  packages/frontend/src/components/mandala/__tests__/keyboard-navigation.test.tsx
  packages/frontend/src/hooks/__tests__/useResponsive.test.ts
  packages/frontend/src/hooks/useNetworkErrorHandler.test.ts
Owners: @frontend-team, @goal-mandala-team

fix: テストエラー修正
  packages/frontend/src/components/forms/DragDropProvider.test.tsx
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/gestures/__tests__/SwipeableContainer.test.tsx
  packages/frontend/src/components/mandala/__tests__/keyboard-navigation.test.tsx
  packages/frontend/src/components/task/__tests__/ProgressBar.property.test.tsx
  packages/frontend/src/hooks/__tests__/useResponsive.test.ts
Owners: @frontend-team, @goal-mandala-team

test(vitest): update test configuration to exclude integration tests
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(backend): refactor task tests to use mocked Prisma client
  packages/backend/src/__tests__/integration/task-lifecycle.test.ts
  packages/backend/src/__tests__/performance/task-performance.test.ts
  packages/backend/src/__tests__/security/task-security.test.ts
Owners: @backend-team, @goal-mandala-team

chore: remove start-q-chat.sh script
  start-q-chat.sh
Owners: @goal-mandala-team

chore(scripts): consolidate test commands and remove act utilities
  package.json
Owners: @goal-mandala-team

test(frontend): improve test setup and memory management
  packages/frontend/package.json
  packages/frontend/src/hooks/__tests__/useResponsive.test.ts
  packages/frontend/src/test/setup.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

chore(.kiro): add developer agent configuration
  .kiro/agents/developer.json
Owners: @goal-mandala-team

test(frontend): improve useResponsive hook test reliability
  packages/frontend/src/hooks/__tests__/useResponsive.test.ts
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test: テストスイート改善完了 - 100%成功率達成
  .kiro/specs/2.4.12-incremental-test-addition/COMPLETION_REPORT.md
  .kiro/specs/2.4.12-incremental-test-addition/design.md
  .kiro/specs/2.4.12-incremental-test-addition/requirements.md
  .kiro/specs/2.4.12-incremental-test-addition/tasks.md
  .kiro/steering/4-wbs.md
  .kiro/steering/9-test-guide.md
  packages/frontend/package.json
  packages/frontend/src/hooks/useErrorRecovery.test.ts
  packages/frontend/src/hooks/useErrorRecovery.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

docs(.kiro): mark incremental test addition tasks as complete
  .kiro/specs/2.4.12-incremental-test-addition/tasks.md
Owners: @goal-mandala-team

chore(scripts): remove redundant test:all command
  package.json
Owners: @goal-mandala-team

test(backend): optimize Jest configuration and refactor complex mocks
  packages/backend/jest.config.js
  packages/backend/src/__tests__/integration/task-lifecycle.test.ts
  packages/backend/src/__tests__/performance/task-performance.test.ts
  packages/backend/src/__tests__/processing-time.test.ts
  packages/backend/src/__tests__/security/task-security.test.ts
  packages/backend/src/services/__tests__/notification.property.test.ts
  packages/backend/src/services/__tests__/notification.service.test.ts
  tools/scripts/test-with-timeout.sh
Owners: @backend-team, @goal-mandala-team

test(backend): skip heavy code quality tests in standard test runs
  packages/backend/src/__tests__/quality/code-quality.test.ts
Owners: @backend-team, @goal-mandala-team

test(frontend): improve test reliability with extended timeouts and better assertions
  packages/frontend/src/components/auth/AuthIntegration.test.tsx
  packages/frontend/src/hooks/useErrorRecovery.test.ts
Owners: @frontend-team, @goal-mandala-team

chore(scripts): migrate from bash scripts to pnpm workspace commands
  package.json
  packages/frontend/package.json
  packages/frontend/scripts/analyze-coverage.cjs
  packages/frontend/scripts/analyze-coverage.ts
  tools/scripts/build.sh
  tools/scripts/clean.sh
  tools/scripts/dev.sh
  tools/scripts/lint.sh
  tools/scripts/sam-build.sh
  tools/scripts/test-with-timeout.sh
  tools/scripts/test.sh
Owners: @goal-mandala-team, @frontend-team

docs(contributing): add comprehensive command reference guide
  CONTRIBUTING.md
Owners: @goal-mandala-team

test(frontend): improve test stability and reduce flakiness
  packages/frontend/package.json
  packages/frontend/src/components/forms/BulkEditModal.test.tsx
  packages/frontend/src/test/setup.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(frontend): optimize integration test stability with improved fork isolation
  packages/frontend/vitest.integration.config.ts
Owners: @frontend-team, @goal-mandala-team

chore(.kiro): remove completed project documentation and temporary files
  .kiro/specs/2.4.12-incremental-test-addition/COMPLETION_REPORT.md
  .kiro/specs/docs-consolidation/temp/consistency-verification.md
  .kiro/specs/docs-consolidation/temp/duplicate-analysis.md
Owners: @goal-mandala-team

chore(agents): remove completed incremental test addition spec reference
  .kiro/agents/developer.json
Owners: @goal-mandala-team

docs(specs): add detailed memory issue analysis for test stability
  .kiro/specs/2.4.13-test-stability-improvement/memory-issue-analysis.md
Owners: @goal-mandala-team

docs(steering): update WBS progress status for phase 2 completion and phase 3 initiation
  .kiro/specs/3.1.1-task-management/tasks.md
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

test(backend): skip flaky task management tests and refactor service injection
  packages/backend/src/handlers/__tests__/task-management.test.ts
  packages/backend/src/handlers/task-management.test.ts
  packages/backend/src/handlers/task-management.ts
  packages/frontend/package.json
  packages/frontend/scripts/test-in-batches.sh
  packages/frontend/vitest.config.ts
Owners: @backend-team, @goal-mandala-team, @frontend-team

docs(steering): clarify test configuration and memory leak prevention strategy
  .kiro/steering/2-technology-stack.md
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

docs(steering): expand WBS with detailed phase 3 progress and AI assistant guidelines
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

test(backend,frontend): add property-based tests and improve task management test coverage
  .kiro/specs/3.1.1-task-management/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/src/__tests__/integration/task-lifecycle.test.ts
  packages/backend/src/__tests__/performance/task-performance.test.ts
  packages/backend/src/__tests__/utils/task-arbitraries.ts
  packages/backend/src/handlers/__tests__/task-management.test.ts
  packages/backend/src/services/__tests__/filter.service.property.test.ts
  packages/backend/src/services/__tests__/progress.service.property.test.ts
  packages/backend/src/services/__tests__/task-management.property.test.ts
  packages/backend/src/services/__tests__/task.service.property.test.ts
  packages/frontend/src/components/common/__tests__/ProgressBar.property.test.tsx
  packages/frontend/src/hooks/__tests__/useTasks.test.tsx
  packages/frontend/src/pages/__tests__/TaskListPage.property.test.tsx
  packages/frontend/src/services/__tests__/taskApi.test.ts
  packages/frontend/src/services/taskApi.ts
Owners: @goal-mandala-team, @backend-team, @frontend-team

feat(reminder): implement reminder functionality with task selection and deep links
  .kiro/specs/3.2-reminder-functionality/design.md
  .kiro/specs/3.2-reminder-functionality/requirements.md
  .kiro/specs/3.2-reminder-functionality/tasks.md
  packages/backend/prisma/migrations/20251208191640_add_reminder_tables/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/services/__tests__/deep-link.service.property.test.ts
  packages/backend/src/services/__tests__/deep-link.service.test.ts
  packages/backend/src/services/__tests__/task-selector.service.property.test.ts
  packages/backend/src/services/__tests__/task-selector.service.test.ts
  packages/backend/src/services/deep-link.service.ts
  packages/backend/src/services/task-selector.service.ts
  packages/shared/src/types/index.ts
Owners: @goal-mandala-team, @backend-team

feat(reminder): complete reminder functionality implementation with email service and deep links
  .kiro/specs/3.2-reminder-functionality/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/package.json
  packages/backend/src/__tests__/integration/reminder-flow.test.ts
  packages/backend/src/handlers/__tests__/reminder.property.test.ts
  packages/backend/src/handlers/__tests__/reminder.test.ts
  packages/backend/src/handlers/__tests__/unsubscribe.property.test.ts
  packages/backend/src/handlers/__tests__/unsubscribe.test.ts
  packages/backend/src/handlers/reminder-test-routes.ts
  packages/backend/src/handlers/reminder-test.ts
  packages/backend/src/handlers/reminder.ts
  packages/backend/src/handlers/unsubscribe.ts
  packages/backend/src/index.ts
  packages/backend/src/services/__tests__/email.service.property.test.ts
  packages/backend/src/services/__tests__/email.service.test.ts
  packages/backend/src/services/email.service.ts
  packages/backend/src/templates/reminder-email.hbs
  packages/frontend/e2e/reminder-functionality.spec.ts
  packages/frontend/src/pages/DeepLinkPage.tsx
  packages/frontend/src/pages/LazyPages.tsx
  packages/frontend/src/pages/ReminderSettingsPage.test.tsx
  packages/frontend/src/pages/ReminderSettingsPage.tsx
  packages/frontend/src/pages/__tests__/DeepLinkPage.property.test.tsx
  packages/frontend/src/pages/__tests__/DeepLinkPage.test.tsx
  packages/frontend/src/router/AppRouter.tsx
  packages/frontend/src/services/__tests__/deepLinkApi.test.ts
  packages/frontend/src/services/deepLinkApi.ts
  packages/frontend/src/services/reminderApi.ts
  pnpm-lock.yaml
Owners: @goal-mandala-team, @backend-team, @frontend-team

docs(specs): add step functions integration specification with design and requirements
  .kiro/specs/3.3-step-functions-integration/README.md
  .kiro/specs/3.3-step-functions-integration/design.md
  .kiro/specs/3.3-step-functions-integration/requirements.md
  .kiro/specs/3.3-step-functions-integration/tasks.md
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team

docs(specs): add step functions integration completion report and update wbs progress
  .kiro/specs/3.3-step-functions-integration/COMPLETION_REPORT.md
  .kiro/specs/3.3-step-functions-integration/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/src/workflows/__tests__/workflow-performance.test.ts
  packages/backend/test/mocks/index.ts
Owners: @goal-mandala-team, @backend-team

docs(backend): リマインド機能API仕様書を追加
  packages/backend/docs/reminder-api-specification.md
Owners: @backend-team, @goal-mandala-team

docs(specs): add reflection feature specification and complete reminder infrastructure
  .kiro/specs/3.2-reminder-functionality/tasks.md
  .kiro/specs/4.1-reflection-feature/README.md
  .kiro/specs/4.1-reflection-feature/design.md
  .kiro/specs/4.1-reflection-feature/requirements.md
  .kiro/specs/4.1-reflection-feature/tasks.md
  .kiro/specs/4.1-reflection-functionality/README.md
  .kiro/specs/4.1-reflection-functionality/design.md
  .kiro/specs/4.1-reflection-functionality/requirements.md
  .kiro/specs/4.1-reflection-functionality/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/docs/reminder-operations-guide.md
  packages/backend/docs/reminder-user-manual.md
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/stacks/index.ts
  packages/infrastructure/src/stacks/reminder-stack.test.ts
  packages/infrastructure/src/stacks/reminder-stack.ts
Owners: @goal-mandala-team, @backend-team, @devops-team

feat(reflection): implement reflection service with validation schemas and error handling
  .kiro/specs/4.1-reflection-feature/tasks.md
  .kiro/steering/4-wbs.md
  packages/backend/docs/reminder-api-specification.md
  packages/backend/docs/reminder-operations-guide.md
  packages/backend/docs/reminder-user-manual.md
  packages/backend/prisma/schema.prisma
  packages/backend/src/schemas/__tests__/reflection.schema.property.test.ts
  packages/backend/src/schemas/reflection.schema.ts
  packages/backend/src/services/__tests__/reflection.service.test.ts
  packages/backend/src/services/reflection.service.ts
  packages/backend/src/utils/errors.ts
Owners: @goal-mandala-team, @backend-team

docs(specs): remove reflection functionality specification documents
  .kiro/specs/4.1-reflection-functionality/README.md
  .kiro/specs/4.1-reflection-functionality/design.md
  .kiro/specs/4.1-reflection-functionality/requirements.md
  .kiro/specs/4.1-reflection-functionality/tasks.md
  .kiro/steering/4-wbs.md
Owners: @goal-mandala-team
