Repository satoshi256kbyte/goal-mandala, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goal-mandala-team, @frontend-team, @backend-team, @devops-team

fix: 型チェックエラーを修正（224→216エラー）
  packages/frontend/src/components/forms/DraftRestoreNotification.tsx
  packages/frontend/src/components/forms/DraftSaveButton.tsx
  packages/frontend/src/components/forms/__tests__/SecureFormWrapper.test.tsx
Owners: @frontend-team, @goal-mandala-team

fix: 型チェックエラーを修正（216→197エラー）
  packages/frontend/src/components/forms/DynamicFormField.test.tsx
  packages/frontend/src/hooks/useGoalForm.ts
Owners: @frontend-team, @goal-mandala-team

fix: 型チェックエラーを修正（197→184エラー）
  packages/frontend/src/components/layout/__tests__/TabletLayout.test.tsx
  packages/frontend/src/components/mandala/ConflictDialog.test.tsx
  packages/frontend/src/components/task/__tests__/TaskCard.test.tsx
  packages/frontend/src/components/task/__tests__/TaskFilter.test.tsx
  packages/frontend/src/hooks/__tests__/useFormSecurity.test.tsx
  packages/frontend/src/services/__tests__/form-security.test.ts
Owners: @frontend-team, @goal-mandala-team

fix: 型チェックエラーを修正（184→166エラー）
  packages/frontend/src/components/task/__tests__/TaskFilter.test.tsx
  packages/frontend/src/contexts/ActionContext.tsx
  packages/frontend/src/hooks/__tests__/useTasks.test.tsx
  packages/frontend/src/pages/TaskListPage.tsx
  packages/frontend/src/services/__tests__/progress-calculation-engine.integration.test.ts
Owners: @frontend-team, @goal-mandala-team

fix: 型チェックエラーを修正（166→163エラー）
  packages/frontend/src/components/forms/ErrorDisplay.test.tsx
  packages/frontend/src/components/forms/SecureFormWrapper.tsx
  packages/frontend/src/services/auth.ts
Owners: @frontend-team, @goal-mandala-team

fix(frontend): resolve type errors and improve form component imports
  packages/frontend/src/components/forms/DynamicFormField.tsx
  packages/frontend/src/components/forms/EnhancedErrorDisplay.tsx
  packages/frontend/src/components/forms/GoalInputForm.tsx
Owners: @frontend-team, @goal-mandala-team

chore(config): update MCP server configuration defaults
  .kiro/settings/mcp.json.sample
Owners: @goal-mandala-team

chore(config): remove MCP server configuration file
  .kiro/settings/mcp.json
Owners: @goal-mandala-team

fix(frontend): improve test accessibility and update auth component imports
  packages/frontend/src/components/auth/AuthIntegration.test.tsx
  packages/frontend/src/components/auth/AuthLayout.test.tsx
  packages/frontend/src/components/auth/PublicRoute.tsx
  packages/frontend/src/components/auth/__tests__/ProtectedRoute.test.tsx
  packages/frontend/src/components/common/ErrorAlert.test.tsx
  packages/frontend/src/components/common/SuccessMessage.test.tsx
  packages/frontend/src/components/forms/CharacterCounter.test.tsx
  packages/frontend/src/components/forms/CharacterLimitWarning.test.tsx
  packages/frontend/src/hooks/useGoalForm.test.ts
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

fix(frontend): improve auth integration tests with localStorage and accessibility
  packages/frontend/src/components/auth/AuthIntegration.test.tsx
Owners: @frontend-team, @goal-mandala-team

fix(frontend): improve test reliability and date formatting in progress components
  packages/frontend/src/components/auth/LoginForm.test.tsx
  packages/frontend/src/components/common/__tests__/ProgressDetailModal.test.tsx
  packages/frontend/src/components/common/__tests__/ProgressHistoryAnalysis.test.tsx
  packages/frontend/src/components/common/__tests__/ProgressHistoryContainer.test.tsx
  packages/frontend/src/components/common/__tests__/ProgressHistoryDetail.test.tsx
Owners: @frontend-team, @goal-mandala-team

test(frontend): optimize test configuration and improve DOM query best practices
  .kiro/steering/9-test-guide.md
  packages/frontend/package.json
  packages/frontend/src/test/setup.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(frontend): enable test isolation for improved stability
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(router): refactor AppRouter tests to use useAuth hook mocking
  packages/frontend/src/router/AppRouter.test.tsx
  packages/frontend/src/router/AppRouter.tsx
  packages/frontend/src/utils/date-validation.ts
Owners: @frontend-team, @goal-mandala-team

fix(storage-sync): improve auth state change detection with initial state tracking
  packages/frontend/src/services/storage-sync.test.ts
  packages/frontend/src/services/storage-sync.ts
Owners: @frontend-team, @goal-mandala-team

docs(test-guide): clarify singleFork configuration and memory management
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

perf(frontend): optimize test memory usage and worker configuration
  packages/frontend/package.json
  packages/frontend/src/test/setup.ts
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(components): improve test reliability with real timers and better assertions
  packages/frontend/src/components/common/ProgressTooltip.test.tsx
  packages/frontend/src/components/common/Tooltip.test.tsx
  packages/frontend/src/components/forms/ActionForm.test.tsx
  packages/frontend/src/components/forms/BulkSelectionProvider.test.tsx
Owners: @frontend-team, @goal-mandala-team

fix(frontend): improve drag-drop error handling and test stability
  packages/frontend/src/components/forms/DragDropProvider.tsx
  packages/frontend/src/components/task/TaskSearch.tsx
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(forms): simplify DateInput tests and improve test stability
  packages/frontend/src/components/forms/DateInput.test.tsx
  packages/frontend/src/components/forms/DateInput.tsx
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): improve test stability and accessibility with memory optimization
  packages/frontend/package.json
  packages/frontend/src/components/auth/__tests__/ProtectedRoute.test.tsx
  packages/frontend/src/components/task/ProgressBar.tsx
  packages/frontend/src/components/task/TaskCard.tsx
  packages/frontend/src/components/task/TaskFilter.tsx
  packages/frontend/src/components/task/TaskSearch.tsx
  packages/frontend/src/components/task/__tests__/TaskSearch.test.tsx
  packages/frontend/src/hooks/mandala-list/__tests__/useMandalaList.test.ts
  packages/frontend/src/hooks/mandala-list/useMandalaList.ts
  packages/frontend/src/pages/SubGoalEditPage.test.tsx
  packages/frontend/vitest.config.ts
Owners: @goal-mandala-team, @frontend-team

test(frontend): refactor auth mocking and improve accessibility
  packages/frontend/src/pages/GoalInputPage.responsive.test.tsx
  packages/frontend/src/pages/GoalInputPage.tsx
  packages/frontend/src/services/api-integration.test.ts
Owners: @frontend-team, @goal-mandala-team

test(hooks): update test fixtures and improve retry timer handling
  packages/frontend/src/hooks/useFormSubmission.test.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): improve test reliability with better selectors and mock setup
  packages/frontend/src/components/forms/DragDropProvider.test.tsx
  packages/frontend/src/services/tokenManager.test.ts
Owners: @frontend-team, @goal-mandala-team

docs(test-guide): add best practices for date validation, timers, mocks, and DOM queries
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

chore(lint): add markdownlint configuration file
  .markdownlint.json
Owners: @goal-mandala-team

test(vitest): remove obsolete comments and exclude problematic integration test
  packages/frontend/vitest.config.ts
Owners: @frontend-team, @goal-mandala-team

test(frontend): migrate from fake timers to real timers for improved test reliability
  packages/frontend/src/components/task/__tests__/TaskSearch.test.tsx
  packages/frontend/src/hooks/useErrorRecovery.test.ts
  packages/frontend/src/pages/__tests__/ProfileSetupPage.test.tsx
  packages/frontend/src/test/setup.ts
Owners: @frontend-team, @goal-mandala-team

test(ActionEditPage): refactor auth mocking and improve test assertions
  packages/frontend/src/pages/ActionEditPage.test.tsx
Owners: @frontend-team, @goal-mandala-team

docs(steering): consolidate and streamline documentation for clarity
  .kiro/steering/1-product-overview.md
  .kiro/steering/10-aws-guide.md
  .kiro/steering/11-react-hooks-best-practices.md
  .kiro/steering/12-documentation-management.md
  .kiro/steering/2-technology-stack.md
  .kiro/steering/3-development-roadmap.md
  .kiro/steering/4-wbs.md
  .kiro/steering/6-database-design.md
  .kiro/steering/7-implementation-guide.md
  .kiro/steering/8-security-guide.md
  .kiro/steering/9-test-guide.md
Owners: @goal-mandala-team

chore(lint): disable MD024 rule in markdownlint configuration
  .markdownlint.json
Owners: @goal-mandala-team

chore(spell): add "kiro" to cspell dictionary
  cspell.json
Owners: @goal-mandala-team

test(frontend): refactor test mocks and update progress class assertions
  packages/frontend/src/components/forms/DraftSaveButton.test.tsx
  packages/frontend/src/components/forms/FormActions.component.test.tsx
  packages/frontend/src/components/mandala/__tests__/MandalaCell.test.tsx
  packages/frontend/src/hooks/mandala-list/__tests__/useMandalaList.test.ts
  packages/frontend/src/hooks/mandala-list/useMandalaList.ts
  packages/frontend/src/pages/__tests__/ProfileSetupPage.test.tsx
  packages/frontend/src/pages/__tests__/TaskDetailPage.test.tsx
Owners: @frontend-team, @goal-mandala-team

test(frontend): add comprehensive hook and utility mocks to auth pages
  packages/frontend/src/components/forms/FormActions.test.tsx
  packages/frontend/src/pages/LoginPage.test.tsx
  packages/frontend/src/pages/PasswordResetPage.test.tsx
  packages/frontend/src/pages/SignupPage.test.tsx
Owners: @frontend-team, @goal-mandala-team

test(InlineEditor): replace inline vi.fn() mocks with reusable mock instances
  packages/frontend/src/components/mandala/InlineEditor.test.tsx
Owners: @frontend-team, @goal-mandala-team

test(useErrorRecovery): fix assertion and add timer management
  packages/frontend/src/hooks/useErrorRecovery.test.ts
Owners: @frontend-team, @goal-mandala-team

test(InlineEditor, useErrorRecovery): improve test reliability and mock usage
  packages/frontend/src/components/mandala/InlineEditor.test.tsx
  packages/frontend/src/hooks/useErrorRecovery.test.ts
Owners: @frontend-team, @goal-mandala-team

test(forms, TaskFilter): fix DOM assertions to target correct elements
  packages/frontend/src/components/forms/TextArea.test.tsx
  packages/frontend/src/components/forms/TextInput.test.tsx
  packages/frontend/src/components/task/__tests__/TaskFilter.test.tsx
Owners: @frontend-team, @goal-mandala-team

test(frontend): fix test assertions and update mock implementations
  packages/frontend/src/components/forms/DraftRestoreNotification.test.tsx
  packages/frontend/src/components/forms/ErrorRecoveryPanel.test.tsx
  packages/frontend/src/components/task/__tests__/TaskCard.test.tsx
  packages/frontend/src/hooks/useNetworkErrorHandler.test.ts
  packages/frontend/src/hooks/useRealtimeValidation.test.ts
  packages/frontend/src/pages/LoginPage.test.tsx
  packages/frontend/src/pages/PasswordResetPage.test.tsx
  packages/frontend/src/pages/SignupPage.test.tsx
  packages/frontend/src/utils/draft-utils.ts
Owners: @frontend-team, @goal-mandala-team

test(auth pages): refactor to use useAuthForm hook mocks instead of service mocks
  packages/frontend/src/components/common/LoadingButton.tsx
  packages/frontend/src/pages/LoginPage.test.tsx
  packages/frontend/src/pages/PasswordResetPage.test.tsx
  packages/frontend/src/pages/SignupPage.test.tsx
Owners: @frontend-team, @goal-mandala-team

.github/CODEOWNERS:

# Global owners
* @goal-mandala-team

# Frontend specific
/packages/frontend/ @frontend-team @goal-mandala-team

# Backend specific
/packages/backend/ @backend-team @goal-mandala-team

# Infrastructure specific
/packages/infrastructure/ @devops-team @goal-mandala-team

# Shared packages
/packages/shared/ @goal-mandala-team

# CI/CD workflows
/.github/ @devops-team @goal-mandala-team

# Documentation
/docs/ @goal-mandala-team
README.md @goal-mandala-team
CONTRIBUTING.md @goal-mandala-team

# Configuration files
package.json @goal-mandala-team
pnpm-workspace.yaml @goal-mandala-team
turbo.json @goal-mandala-team
.tool-versions @goal-mandala-team

# Docker and development environment
docker-compose.yml @devops-team @goal-mandala-team
Dockerfile* @devops-team @goal-mandala-team
.env.example @devops-team @goal-mandala-team

# Security and compliance
.github/workflows/ @devops-team @goal-mandala-team
.husky/ @goal-mandala-team
